<!DOCTYPE html>

<html>
    <head>
        <title>emily-webapp blog</title>
    </head>
    <body>
        <h1>emily-webapp blog</h1>
        <hr>
        {% for entry in entries %}
        <div class="entry">
            <div class="entry-subject">{{entry.subject}}</div>
            <div class="entry-created">{{entry.created.strftime("%b %d, %Y")}}</div>
            <pre class="entry-content">{{entry.content}}</div> 
            <!--preserve whitespace in the entry by using a pre element -->
        </div>
        {% endfor %}
        <h6>Queried {{query_sec_ago}} seconds ago</h6>
    </body>
</html>
