<!DOCTYPE html>


<html>


<html>
    <head>
        <title>emily-webapp</title>
    </head>
    <body>
        <h1>emily-webapp</h1>
		<h3>A collection of mini webapps from a webdev self study! 
		<br>Built with the google app engine Python SDK. :-)</h2>

		<h3>Explore:</h3>
		<br><a href="/helloudacity">Hello!</a>
		<br><a href="/jingatime">Hurrah for jinga templates!</a>
		<br><a href="/birthday">Is that a valid birthday?</a>
		<br><a href="/rot13">ROT13 cipher</a>
		<br><a href="/asciichan">The world's next ascii art hangout.</a>
		<br><a href="/cookies">Cookies.</a>

		<h3>Blog project</h3>
		<br><a href="/blog/signup">Sign up!</a>
		<br><a href="/blog/login">Login</a>
		<br><a href="/blog/logout">Logout</a>
		<br><a href="/blog">Blog homepage</a>
		<br><a href="/blog/newpost">Write a new blog post</a>

    </body>
</html>
