<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="/static/blogmain.css"/>

    <title>emily-webapp wiki</title>
</head>

<body>
    <!-- <a href="/" class="main-title">emily-webapp wiki!</a> -->
    <h2>emily-webapp wiki</h2>
    <br>
    <br>

    <a href="{{link1_url}}" class="link1">{{link1_label}}</a>
    <a href="{{link2_url}}" class="link2">{{link2_label}}</a>

    <br>
    <br>
    
<div id="content">
{% block content %}
{% endblock %}
</div>

</body>

</html>

